/* ---------- FOOTER BASE ---------- */

.footer {
    background-color: #135985;
    color: #ffffff;
    min-height: 200px;
}


/* ---------- LAYOUT CONTAINER ---------- */

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}


/* ---------- CONTACT INFORMATION ---------- */

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 39px;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.contact-icon {
    font-size: 1.5rem;
    color: #25c4f0;
}


/* ---------- BRANDING ---------- */

.company-link {
    text-decoration: none;
    color: inherit;
}

.company-name {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 50px;
}

.company-logo {
    width: 60px;
    height: auto;
}

.company-name span {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}


/* ---------- FOOTER NAVIGATION ---------- */

.footer-nav {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}


/* ---------- HOURS & COPYRIGHT ---------- */

.opening-hours {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    font-size: 1.2rem;
    margin-bottom: 100px;
}

.footer-copyright {
    text-align: right;
    font-size: 1rem;
}


/* ---------- RESPONSIVE ---------- */

@media (max-width: 1110px) {
    .company-name span {
        font-size: 1.75rem;
    }
}

@media (max-width: 1000px) {
    .footer-container {
        flex-direction: column;
        align-items: stretch;
    }

    .footer-section {
        margin: 10px 0;
    }

    .footer-section:first-child {
        text-align: left;
        margin-left: 10px;
    }

    .footer-section:last-child {
        text-align: right;
        margin-right: 10px;
    }

    .footer-nav {
        gap: 15px;
        margin-top: 20px;
    }

    .company-name {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .opening-hours {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .company-name span {
        font-size: 1.5rem;
    }
}
